*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/**GENERAL STYLE**/
input:focus {
    outline: none;
}

.d-none{
    display: none!important;
}

.d-flex{
    display: flex;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacity_1{
    opacity: 1!important;
}

.pe-1{
    padding-right: 0.25rem;
}

body{
    font-family: 'Arimo', sans-serif;
    height: 100vh;
    background-image: linear-gradient(#00a884 150px, #dfdfdd 0);
    display: flex;
}

#app{
    margin: 2rem auto;
    width: 60%;
    min-width: 737px;
    display: flex;
}

/** HIDDEN LEFT SECTION **/

.ivy_left_section{
    width: 35%;
    background-image: linear-gradient(rgb(0,128,105) calc(150px - 2rem), #ffffff 0);
    user-select: none;
    flex-shrink: 1;
}

.ivy_com_header{
    height: calc(150px - 2rem);
    color: #ffffff;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    padding: 1.2rem 1.5rem;
}

.ivy_back_btn{
    color: #ffffff;
    border: none;
    background: none;
    font-size: 1.3rem;
    margin-right: 2rem;
    cursor: pointer;
}

.ivy_com_title{
    font-size: 1.4rem;
    font-weight: 600;
}

.ivy_com_main{
    padding: 1.5rem;
    text-align: center;
}

.ivy_com_subtitle{
    font-size: 1.4rem;
    padding-bottom: 1.3rem;
}

.ivy_com_par{
    font-size: 0.9rem;
    color: rgb(134,150,160);
    line-height: 1.3rem;
    padding-bottom: 1.5rem;
}

.ivy_com_add{
    border: none;
    background: rgb(0,128,105);
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 8px -2px, rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
}

.slide-right-enter-active {
    transition: all 0.5s ease-out;
    z-index: -1;
}

.slide-right-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-right-enter-from,
.slide-right-leave-to {
    z-index: -1;
    transform: translateX(20px);
    opacity: 0;
}

    /** Section New Chat **/
#newChat .ivy_com_main{
    padding: 0;
    text-align: left;
}

#newChat .ivy_searchbar_box input{
    margin-right: 0;
}

.ivy_profile_default{
    height: calc(60px - 1rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #00a884;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
}

.ivy_profile_default i{
    margin: auto;
}

#newChat .ivy_contact_title:hover{
    background: none;
}

#newChat .ivy_contact_title h2{
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 2rem;
    color: rgb(0,128,105);
    text-transform: uppercase;
}

/**STARRED MESSAGES SECTION**/

#starredMsg{
    background-image: linear-gradient(rgb(0,128,105) calc(150px - 2rem), #F0F2F5 0);
}

.ivy_menu.ivy_active_star{
    background: #017561;
}

.ivy_active_star .ivy_pop_up{
    color: #54656f;
}

.ivy_star_header{
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.ivy_star_pad{
    padding-bottom: 5px;
}

.ivy_star_main{
    height: calc(100% - 150px - 2rem);
}

#starredMsgList{
    overflow-y: scroll;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ivy_starred_msg{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.ivy_starred_msg:hover{
    background-color: #E7E9EC;
}

.ivy_starred_msg .ivy_msg{
    max-width: 75%;
    width: auto;
}

.ivy_star_header_msg{
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#starredMsg .ivy_time_msg{
    overflow: visible;
}

.ivy_star_header_msg .ivy_profile_box{
    height: 30px;
}

.ivy_star_main_msg{
    justify-content: space-between;
}

.ivy_unstar{
    border: none;
    color: #ec7171;
    background: none;
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
    opacity: 0;
    transition: all 0.33s;
}

.ivy_starred_msg:hover .ivy_unstar{
    opacity: 1;
}

.ivy_unstar i.fa-slash{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ivy_star_foot{
    height: 2rem;
    color: #6e7072;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;   
}

/** HIDDEN RIGHT SECTION **/
#findMessage.ivy_left_section{
    background-image: none;
    background-color: #ffffff;
}

#findMessage .ivy_searchbar_box,
.ivy_found_msg{
    border-bottom: 1px solid #E9EDEF;
}

.ivy_find_main{
    height: calc(100% - 60px - 45px);

}

#foundMsgList{
    height: 100%;
}

.fa-x{
    padding: 0 1rem;
}

.slide-left-enter-active {
    transition: all 0.5s ease-out;
    z-index: -1;
}

.slide-left-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-enter-from,
.slide-left-leave-to {
    z-index: -1;
    transform: translateX(-20px);
    opacity: 0;
}

.ivy_found_msg{
    padding: 1rem;
    line-height: 1.5rem;
}

/**SECTION CONTACT LIST**/
#contacts{
    width: 35%;
    user-select: none;
    flex-shrink: 1;
}

.ivy_navbar{
    height: 60px;
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    user-select: none;
}

.ivy_searchbar_box{
    height: 45px;
    background-color: #ffffff;
    padding: 0.4rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a5b1b8; 
}

.ivy_searchbar_box input{
    height: 100%;
    border: none;
    background-color: #f0f2f5;
    padding: 0 0.4rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    flex-grow: 1;
    margin-right: 1rem;
}

.ivy_searchbar_box .ivy_search_icon{
    background-color: #f0f2f5;
    height: 100%;
    width: 30px;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    font-size: 0.8rem;
    display: flex;
    color: #5e6e77;
}

.ivy_search_icon i{
    margin: auto;
}

.ivy_search_icon .fa-arrow-left{
    color:#00a884;
    cursor: pointer;
}

.ivy_profile_box{
    height: calc(60px - 1rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.ivy_profile_img{
    width: 100%;
}

.ivy_command_box{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
    column-gap: 1rem;
    color: #54656f;
    cursor: pointer;
}

.ivy_contacts_body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px - 45px);
}

.ivy_notification_banner{
    background-color: #53bdeb;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ivy_bell_icon{
    background-color: #ffffff;
    color: #53bdeb;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.ivy_banner_text{
    flex-grow: 1;
    margin-left: 1rem;
    font-size: 1rem;
}

.ivy_banner_text .ivy_turn_on{
    font-size: 0.9rem;
}

.ivy_turn_on i{
    font-size: 0.8rem;
    vertical-align: middle;
    cursor: pointer;
}

.ivy_bell_icon i{
    margin: auto;
}

#close_btn{
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.contacts_list{
    overflow-y: scroll;
    background-color: #fff;
}

.ivy_nochats{
    text-align: center;
    text-transform: uppercase;
    color:#00a884;
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.ivy_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
}

.ivy_contact::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 86%;
    background-color: #f0f2f5;
    bottom: 0;
    right: 10px;
}

.ivy_contact:hover,
.ivy_contact.ivy_active{
    background-color: #f0f2f5;
}

.ivy_text_box{
    flex-grow: 1;
    padding-left: 1rem;
    line-height: 1.5rem;
}

.ivy_last_msg{
    font-size: 0.9rem;
    color: #6e7072;
}

.ivy_last_msg_date{
    font-size: 0.8rem;
    color: #6e7072;
}

/**SECTION CHAT**/
#chat{
    width: 65%;
    flex-shrink: 5;
}

#chat .ivy_navbar:first-child,
#findMessage .ivy_navbar{
    border-left: 2px solid #d3d9dd;
}

#chat .ivy_navbar:last-child i{
    font-size: 1.5rem;
}

#chat .ivy_navbar:last-child .ivy_command_box:first-child{
    column-gap: 1rem;
    padding: 0 1rem 0 0.5rem;
}

.ivy_chat_body{
    background-image: url(../assets/mine.jpg);
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px - 60px);
    overflow-y: scroll;
}

#chat_bar{
    height: 100%;
    border: none;
    background-color: #fff;
    padding: 0 1rem;
    border-radius: 0.6rem;
    flex-grow: 1;
    margin-right: 1rem;
}

.ivy_msg_wrap{
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
}

.ivy_msg{
    padding: 0.3rem;
    border-radius: 8px;
    max-width: 50%;
    display: flex;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ivy_time_msg{
    margin-left: 0.5rem;
    font-size: 0.7rem;
    color: #54656f;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.ivy_sent .ivy_msg{
    background-color: #d9fdd3;
    align-self: flex-end;
}

.ivy_received .ivy_msg{
    background-color: #fff;
    align-self: flex-start;

}

.ivy_msg_menu{
    position: absolute;
    right: 5px;
    color: #6e7072;
    aspect-ratio: 1 / 1;
    width: 20px;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.08s ease;
    opacity: 0;
}

.ivy_msg:hover .ivy_msg_menu{
    opacity: 1;
}

.ivy_sent .ivy_msg_menu{
    background-color: #d9fdd3;
    box-shadow: 0px 0px 5px 3px #d9fdd3;
}

.ivy_received .ivy_msg_menu{
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px #fff;
}

.ivy_pop_up{
    position: absolute;
    background-color: #fff;
    list-style: none;
    width: 200px;
    transition: all 0.05s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
}

.ivy_pop_up.ivy_visibleUp{
    bottom: 105%;
}

.ivy_pop_up.ivy_visibleDown{
    top: 105%;
}

.ivy_pop_up li{
    padding: 1rem;
}

.ivy_pop_up li:hover{
    background-color:#f0f2f5;
}

.slide-down-enter-active {
    transition: all 0.5s ease-out;
}

.slide-down-leave-active {
    transition: all 0.5s ease-in-out;
}

.slide-down-enter-from,
.slide-down-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.ivy_sent .ivy_pop_up{
    right: 100%;
}

#chat .fa-microphone{
    padding-left: 6px;
}

.ivy_menu{
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#contacts .ivy_menu{
    width: 35px;
}

.ivy_menu.ivy_active_ell{
    background: #D9DBDF;
}

.ivy_menu .ivy_pop_up{
    right: 50%;
    width: 250px;
}

.ivy_chat_header .ivy_command_box{
    column-gap: 0;
    padding-right: 0;
}

.ivy_chat_header i{
    padding: 0 1rem;
}

/**Paper Clip ICon Menu**/
.ivy_clip_menu{
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ivy_clip_item{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 1.3rem;
}

#send_poll{
    background-image: linear-gradient(#059186 50%, #02A698 0);
}

#send_contact{
    background-image: linear-gradient(rgb(7,149,220) 50%, rgb(14,171,244) 0);
}

#send_document{
    background-image: linear-gradient( #5157AE 50%, #5157AE 0);
}

#send_camera{
    background-image: linear-gradient(#D3396D 50%, #EC407A 0);
}

#send_new_sticker{
    background-image: linear-gradient(#0063CB 50%, #0070E6 0);
}

#send_photoVideo{
    background-image: linear-gradient(#AC44CF 50%, #BF59CF 0);
}

.ivy_clip_item:hover .ivy_hover_pill{
    opacity: 1;
}

.ivy_hover_pill{
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    background-color: #333131;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    width: 120px;
    opacity: 0;
    transition: all 0.33s ease;
}

.slide-up-enter-active {
    transition: all 0.5s ease-out;
}

.slide-up-leave-active {
    transition: all 0.5s ease-in-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
    transform: translateY(20px) translateX(-27px);
    opacity: 0;
}

/**BLOCK REPORT POPUP**/
.ivy_pop_up_bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
}

.ivy_screen_pop_up{
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 600px;
    padding: 1rem;
}

.ivy_pop_title{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.ivy_pop_checkbox{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0c7cb;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.ivy_pop_checkbox label{
    font-size: 1.1rem;
    padding-left: 1rem;
}

.ivy_pop_checkbox input[type=checkbox]{
    accent-color:  #008069;
    transform: scale(1.5);
    margin-left: 0.25rem;
    }

.ivy_pop_desc{
    padding-bottom: 1rem;
    font-size: 0.9rem;
    color:#5e6e77;
}

.ivy_btn_box{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 1rem;
}

button.ivy_com_add.inverted{
    color:#008069;
    background-color: #fff;
}

.opacity-enter-active {
    transition: all 0.5s ease-out;
}

.opacity-leave-active {
    transition: all 0.5s ease-in-out;
}

.opacity-enter-from,
.opacity-leave-to {
    opacity: 0;
}

.zoom-in-enter-active {
    animation: zoom-in 0.5s ease-in-out;
}

.zoom-in-leave-active {
    animation: zoom-in 0.5s ease-in-out reverse;
}

@keyframes zoom-in {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/**MEDIA QUERIES**/
@media screen and (max-width: 1300px){
    #contacts{
        width: 45%;
        min-width: 300px;
    }
    
    #chat{
        width: 55%;
    }
}

@media screen and (max-width: 1440px){
    #app{
        margin: 0;
        width: 100%;
    }

    #contacts{
        width: 30%;
    }
    
    #chat{
        width: 70%;
    }
}