*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

input:focus {
    outline: none;
}

.d-none{
    display: none!important;
}

body{
    font-family: 'Arimo', sans-serif;
    height: 100vh;
    background-image: linear-gradient(#00a884 150px, #dfdfdd 0);
    display: flex;
}

#app{
    margin: 2rem auto;
    width: 60%;
    min-width: 737px;
    display: flex;
    overflow: hidden;
}

#contacts{
    width: 35%;
}

#chat{
    width: 65%;
}

.ivy_navbar{
    height: 60px;
    overflow: hidden;
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.ivy_searchbar_box{
    height: 45px;
    background-color: #ffffff;
    padding: 0.4rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a5b1b8; 
}

.ivy_searchbar_box input{
    height: 100%;
    border: none;
    background-color: #f0f2f5;
    padding: 0 0.4rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    flex-grow: 1;
    margin-right: 1rem;
}

.ivy_searchbar_box .ivy_search_icon{
    background-color: #f0f2f5;
    height: 100%;
    width: 30px;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    font-size: 0.8rem;
    display: flex;
    color: #5e6e77;
}

.ivy_search_icon i{
    margin: auto;
}

.ivy_profile_box{
    height: calc(60px - 1rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.ivy_profile_img{
    width: 100%;
}

.ivy_command_box{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
    column-gap: 2rem;
    padding-right: 1rem;
    color: #54656f;
    cursor: pointer;
}

.ivy_contacts_body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px - 45px);
}

.ivy_notification_banner{
    background-color: #53bdeb;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ivy_bell_icon{
    background-color: #ffffff;
    color: #53bdeb;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.ivy_banner_text{
    flex-grow: 1;
    margin-left: 1rem;
    font-size: 1rem;
}

.ivy_banner_text .ivy_turn_on{
    font-size: 0.9rem;
}

.ivy_turn_on i{
    font-size: 0.8rem;
    vertical-align: middle;
    cursor: pointer;
}

.ivy_bell_icon i{
    margin: auto;
}

#close_btn{
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

#contacts_list{
    overflow-y: scroll;
    background-color: #fff;
}

.ivy_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
}

.ivy_contact::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 86%;
    background-color: #f0f2f5;
    bottom: 0;
    right: 10px;
}

.ivy_contact:hover,
.ivy_contact.ivy_active{
    background-color: #f0f2f5;
}

.ivy_text_box{
    flex-grow: 1;
    padding-left: 1rem;
    line-height: 1.5rem;
}

.ivy_last_msg{
    font-size: 0.9rem;
    color: #6e7072;
}

.ivy_last_msg_date{
    font-size: 0.8rem;
    color: #6e7072;
}

#chat .ivy_navbar:first-child{
    border-left: 2px solid #d3d9dd;
}

#chat .ivy_navbar:last-child i{
    font-size: 1.5rem;
}

#chat .ivy_navbar:last-child .ivy_command_box:first-child{
    column-gap: 1rem;
    padding: 0 1.5rem 0 0.5rem;
}

.ivy_chat_body{
    background-image: url(../assets/mine.jpg);
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px - 60px);
    overflow: scroll;
}

#chat_bar{
    height: 100%;
    border: none;
    background-color: #fff;
    padding: 0 1rem;
    border-radius: 0.6rem;
    flex-grow: 1;
    margin-right: 1rem;
}

.ivy_msg_wrap{
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
}

.ivy_msg{
    padding: 0.3rem;
    border-radius: 8px;
    max-width: 50%;
    display: flex;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ivy_time_msg{
    margin-left: 0.5rem;
    font-size: 0.7rem;
    color: #54656f;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.ivy_msg_wrap.ivy_sent .ivy_msg{
    background-color: #d9fdd3;
    align-self: flex-end;
}

.ivy_msg_wrap.ivy_received .ivy_msg{
    background-color: #fff;
    align-self: flex-start;

}

.ivy_msg_menu{
    position: absolute;
    right: 5px;
    color: #6e7072;
    aspect-ratio: 1 / 1;
    width: 20px;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.08s ease;
    opacity: 0;
}

.ivy_msg:hover .ivy_msg_menu{
    opacity: 1;
}

.ivy_sent .ivy_msg_menu{
    background-color: #d9fdd3;
    box-shadow: 0px 0px 5px 3px #d9fdd3;
}

.ivy_received .ivy_msg_menu{
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px #fff;
}

.ivy_pop_up{
    position: absolute;
    background-color: #fff;
    list-style: none;
    width: 200px;
    height: 100px;
    opacity: 1;
    transition: all 0.05s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
}

.ivy_pop_up.ivy_visibleUp{
    bottom: 105%;
}

.ivy_pop_up.ivy_visibleDown{
    top: 105%;
}

.ivy_pop_up li{
    padding: 1rem;
}

.ivy_pop_up li:hover{
    background-color:#f0f2f5;
}

.ivy_sent .ivy_pop_up{
    right: 100%;
}

#chat .fa-microphone{
    padding-left: 6px;
}

@media screen and (max-width: 1300px){
    #contacts{
        width: 45%;
        min-width: 300px;
    }
    
    #chat{
        width: 55%;
    }
}

@media screen and (max-width: 1440px){
    #app{
        margin: 0;
        width: 100%;
    }

    #contacts{
        width: 30%;
    }
    
    #chat{
        width: 70%;
    }
}