<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <section id="contacts">
            <header class="ivy_header">
                <nav class="ivy_navbar">
                    <div class="ivy_profile_box">
                        <img src="./assets/avatar_io.jpg" alt="User Profile Image" class="ivy_profile_img">
                    </div>
                    <div class="ivy_command_box">
                        <i class="fa-solid fa-users"></i>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </nav>
                <div class="ivy_searchbar_box">
                    <div class="ivy_search_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" name="contacts_searchbar" id="contacts_searchbar" placeholder="Search or start a new chat" v-model="userSearch" @keyUp="searchingContact()">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </header>
            <main class="ivy_contacts_body">
                <div v-if="bannerNotification" class="ivy_notification_banner">
                    <div class="ivy_bell_icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="ivy_banner_text">
                        <p>Get notified of new messages</p>
                        <p class="ivy_turn_on">Turn on desktop notifications
                            <span><i class="fa-solid fa-chevron-right"></i></span>
                        </p>
                    </div>
                    <button id="close_btn" @click="bannerNotification = !bannerNotification">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <ul id="contacts_list" v-if="!lookingFor">
                    <li class="ivy_contact" v-for="(contact, index) in contactList" @click="changeActive(index)" :class="activeContact === index ? 'ivy_active' : ''">
                        <div class="ivy_profile_box">
                            <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                        </div>
                        <div class="ivy_text_box">
                            <p class="ivy_contact_name">{{ contact.name }}</p>
                            <p class="ivy_last_msg">{{ noLastMsg(contact.messages, contact) }}</p>
                        </div>
                        <p class="ivy_last_msg_date">{{ noLastDate(contact.messages, contact) }}</p>
                    </li>
                </ul>
                <ul id="contacts_list" v-else>
                    <li class="ivy_contact" v-for="(contact, index) in contactList" @click="changeActive(index)" :class="contact.name.toLowerCase().includes(userSearch.toLowerCase()) ? '' : 'd-none'">
                        <div class="ivy_profile_box">
                            <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                        </div>
                        <div class="ivy_text_box">
                            <p class="ivy_contact_name">{{ contact.name }}</p>
                            <p class="ivy_last_msg">{{ noLastMsg(contact.messages, contact) }}</p>
                        </div>
                        <p class="ivy_last_msg_date">{{ noLastDate(contact.messages, contact) }}</p>
                    </li>
                </ul>
            </main>
        </section>
        <section id="chat">
            <header class="ivy_chat_header">
                <nav class="ivy_navbar">
                    <div class="d-flex">
                        <div class="ivy_profile_box">
                            <img :src="contactList[activeContact].avatar" alt="User Profile Image" class="ivy_profile_img">
                        </div>
                        <div class="ivy_text_box">
                            <p>{{ contactList[activeContact].name }}</p>
                            <p>Last seen online at {{ noLastDate(contactList[activeContact].messages, contactList[activeContact]) }}</p>
                        </div>
                    </div>
                    <div class="ivy_command_box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <div class="ivy_menu" @click="triggerMenu = !triggerMenu">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                            <ul v-if="triggerMenu" class="ivy_pop_up ivy_visibleDown">
                                <li>Contact info</li>
                                <li>Select Messages</li>
                                <li>Close Chat</li>
                                <li>Mute Notifications</li>
                                <li>Disappering Messages</li>
                                <li>Clear Messages</li>
                                <li>Delete Chat</li>
                                <li>Report</li>
                                <li>Block</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="ivy_chat_body">
                <div class="ivy_msg_wrap" v-for="(message, index) in contactList[activeContact].messages" :class="message.status==='sent' ? 'ivy_sent' : 'ivy_received' ">
                    <div class="ivy_msg">
                        <p class="ivy_text_msg">{{ message.message }}</p> 
                        <p class="ivy_time_msg"><span>{{ message.date.substring(11,16) }}</span></p>                     
                        <div class="ivy_msg_menu" @click="deleteMsgPopUp(message)" :class="message.triggered ? 'opacity_1' : ''">
                            <i class="fa-solid fa-chevron-down"></i>
                            <ul v-if="message.triggered" class="ivy_pop_up" :class="!msgPosition(index) ? 'ivy_visibleUp' : 'ivy_visibleDown'">
                                <li>Message info</li>
                                <li @click="removeMsg(index, contactList[activeContact].messages)">Delete Message</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <nav class="ivy_navbar">
                <div class="ivy_command_box ivy_emoji_box">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-paperclip"></i>
                </div>
                <input type="text" name="chat_bar" id="chat_bar" placeholder="Type a message" v-model="newMessage" @keyup.enter="enterNewMsg()">
                <div class="ivy_command_box">
                    <i v-if="newMessage == ''" class="fa-solid fa-microphone"></i>
                    <i v-else class="fa-solid fa-paper-plane" @click="enterNewMsg()"></i>
                </div>
            </nav>
        </section>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>