<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/style.css">
        <title>Boolzapp</title>
        <link rel="icon" type="image/x-icon" href="/assets/default_avatar.png">
    </head>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <div id="app">
            <Transition mode="out-in" name="slide-right">
                <section v-if="newChatBtn" id="newChat" class="ivy_left_section">
                    <header class="ivy_com_header">
                        <button class="ivy_back_btn" @click="newChatBtn = !newChatBtn">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <h1 class="ivy_com_title">new chat</h1>
                    </header>
                    <main class="ivy_com_main">
                        <div class="ivy_searchbar_box">
                            <div class="ivy_search_icon">
                                <Transition mode="out-in">
                                    <i v-if="contactSearch == ''" class="fa-solid fa-magnifying-glass"></i>
                                    <i v-else class="fa-solid fa-arrow-left" @click="contactSearch = ''"></i>
                                </Transition>
                            </div>
                            <input type="text" name="newChat_searchbar" id="newChat_searchbar" placeholder="Search or start a new chat" v-model="contactSearch" @keyUp="searchingContact()">
                        </div>
                        <ul class="contacts_list" v-if="!lookingFor">
                            <li class="ivy_contact">
                                <div class="ivy_profile_default">
                                    <i class="fa-solid fa-user-group"></i>
                                </div>
                                <div class="ivy_text_box">
                                    <p class="ivy_contact_name">New group</p>
                                </div>
                            </li>
                            <li class="ivy_contact">
                                <div class="ivy_profile_default">
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <div class="ivy_text_box">
                                    <p class="ivy_contact_name">New community</p>
                                </div>
                            </li>
                            <li class="ivy_contact ivy_contact_title">
                                <h2>contacts on boolzap</h2>
                            </li>
                            <li class="ivy_contact" v-for="(contact, index) in contactList" @click="startChatting(contact, index)">
                                <div class="ivy_profile_box">
                                    <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                                </div>
                                <div class="ivy_text_box">
                                    <p class="ivy_contact_name">{{ contact.name }}</p>
                                    <p class="ivy_last_msg">{{ contact.about != null ? contact.about : "Hi, I'm new to Boolzap!" }}</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="contacts_list" v-else>
                            <li class="ivy_contact ivy_contact_title">
                                <h2>contacts on boolzap</h2>
                            </li>
                            <li class="ivy_contact" v-for="(contact, index) in contactList" :class="contact.name.toLowerCase().includes(contactSearch.toLowerCase()) ? '' : 'd-none'" @click="startChatting(contact, index)">
                                <div class="ivy_profile_box">
                                    <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                                </div>
                                <div class="ivy_text_box">
                                    <p class="ivy_contact_name">{{ contact.name }}</p>
                                    <p class="ivy_last_msg">{{ noLastMsg(contact.messages, contact) }}</p>
                                </div>
                                <p class="ivy_last_msg_date">{{ noLastDate(contact.messages, contact) }}</p>
                            </li>
                        </ul>
                    </main>
                </section>
                <section v-else-if="communitiesBtn" id="communities" class="ivy_left_section">
                    <header class="ivy_com_header">
                        <button class="ivy_back_btn" @click="communitiesBtn = !communitiesBtn">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <h1 class="ivy_com_title">communities</h1>
                    </header>
                    <main class="ivy_com_main">
                        <div class="ivy_comm_jumbo">
                            <img src="./assets/com_jumbo.png" alt="communities default image">
                        </div>
                        <h2 class="ivy_com_subtitle">Introducing communities</h2>
                        <p class="ivy_com_par">Easily organize your related groups and send announcements.
                            <br>Now, your communities, like neighborhoods or schools, can have their own space.
                        </p>
                        <button class="ivy_com_add">Start a community</button>
                    </main>
                </section>
                <section v-else-if="starredMsgBtn" id="starredMsg" class="ivy_left_section">
                    <header class="ivy_com_header ivy_star_header">
                        <div class="d-flex">
                            <button class="ivy_back_btn ivy_star_pad" @click="starredMsgBtn = !starredMsgBtn">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                            <h1 class="ivy_com_title ivy_star_pad">Starred Message</h1>
                        </div>
                        <div class="ivy_menu" @click="triggerMenuStar = !triggerMenuStar" :class="triggerMenuStar ? 'ivy_active_star' : ''">
                            <i class="fa-solid fa-ellipsis-vertical" ></i>
                            <Transition name="slide-down">
                                <ul v-if="triggerMenuStar" class="ivy_pop_up ivy_visibleDown">
                                    <li @click="unstarAll()">Unstar All</li>
                                </ul>
                            </Transition>
                        </div> 
                    </header>
                    <main class="ivy_star_main">
                        <ul id="starredMsgList">
                            <li v-for="contact in contactList">
                                <div class="ivy_starred_msg ivy_received" v-for="message in contact.messages.filter(msg => msg.starred == true)">
                                    <div class="ivy_star_header_msg d-flex">
                                        <div class="d-flex-center">
                                            <div class="ivy_profile_box">
                                                <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                                            </div>
                                            <p class="ivy_contact_name">{{ contact.name }}</p>
                                        </div>
                                        <p class="ivy_last_msg_date">{{ message.date.substring(0,10) }}</p>
                                    </div>
                                    <div class="ivy_star_main_msg d-flex">
                                        <div class="ivy_msg">
                                            <p class="ivy_text_msg">{{ message.message }}</p> 
                                            <p class="ivy_time_msg"><span><i class="fa-solid fa-star pe-1"></i></span>{{ message.date.substring(11,16) }}</p>                     
                                        </div>
                                        <button class="ivy_unstar" @click="message.starred = false">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-slash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </main>
                    <footer class="ivy_star_foot">
                        <p>Use Whatsapp on your phone to see older chats and messages.</p>
                    </footer>
                </section>       
                <section v-else id="contacts">
                    <header class="ivy_header">
                        <nav class="ivy_navbar">
                            <div class="ivy_profile_box">
                                <img src="./assets/avatar_io.jpg" alt="User Profile Image" class="ivy_profile_img">
                            </div>
                            <div class="ivy_command_box">
                                <div class="ivy_menu" @click="communitiesBtn = !communitiesBtn">
                                    <i class="fa-solid fa-users" ></i>
                                </div>
                                <div class="ivy_menu">
                                    <i class="fa-solid fa-circle-notch"></i>
                                </div>
                                <div class="ivy_menu" @click="newChatBtn = !newChatBtn">
                                    <i class="fa-solid fa-message" ></i>
                                </div>
                                <div class="ivy_menu" @click="triggerMenuContact = !triggerMenuContact" :class="triggerMenuContact ? 'ivy_active_ell' : ''">
                                    <i class="fa-solid fa-ellipsis-vertical" ></i>
                                    <Transition name="slide-down">
                                        <ul v-if="triggerMenuContact" class="ivy_pop_up ivy_visibleDown">
                                            <li>New group</li>
                                            <li>New community</li>
                                            <li @click="starredMsgBtn = !starredMsgBtn">Starred messages</li>
                                            <li>Selecet Chats</li>
                                            <li>Settings</li>
                                            <li>Log Out</li>
                                        </ul>
                                    </Transition>
                                </div>                        
                            </div>
                        </nav>
                        <div class="ivy_searchbar_box">
                            <div class="ivy_search_icon">
                                <i v-if="chatSearch == ''" class="fa-solid fa-magnifying-glass"></i>
                                <i v-else class="fa-solid fa-arrow-left" @click="chatSearch = ''"></i>
                            </div>
                            <input type="text" name="contacts_searchbar" id="contacts_searchbar" placeholder="Search or start a new chat" v-model="chatSearch" @keyUp="searchingChat()">
                            <i class="fa-solid fa-filter"></i>
                        </div>
                    </header>
                    <main class="ivy_contacts_body">
                        <div v-if="bannerNotification" class="ivy_notification_banner">
                            <div class="ivy_bell_icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="ivy_banner_text">
                                <p>Get notified of new messages</p>
                                <p class="ivy_turn_on">Turn on desktop notifications
                                    <span><i class="fa-solid fa-chevron-right"></i></span>
                                </p>
                            </div>
                            <button id="close_btn" @click="bannerNotification = !bannerNotification">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <ul class="contacts_list" v-if="!lookingFor">
                            <li class="ivy_nochats" v-show="noChatVisible">
                                There's plenty of room here
                            </li>
                            <li class="ivy_contact" v-for="(contact, index) in contactList" @click="changeActive(index)" :class="activeContact === index ? 'ivy_active' : ''" v-show="contact.visible">
                                <div class="ivy_profile_box">
                                    <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                                </div>
                                <div class="ivy_text_box">
                                    <p class="ivy_contact_name">{{ contact.name }}</p>
                                    <p class="ivy_last_msg">{{ noLastMsg(contact.messages, contact) }}</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="contacts_list" v-else>
                            <li class="ivy_contact" v-for="(contact, index) in contactList" @click="changeActive(index)" :class="activeContact === index ? 'ivy_active' : ''" v-show="contact.name.toLowerCase().includes(chatSearch.toLowerCase()) && contact.visible">
                                <div class="ivy_profile_box">
                                    <img :src="contact.avatar" alt="User Profile Image" class="ivy_profile_img">
                                </div>
                                <div class="ivy_text_box">
                                    <p class="ivy_contact_name">{{ contact.name }}</p>
                                    <p class="ivy_last_msg">{{ noLastMsg(contact.messages, contact) }}</p>
                                </div>
                                <p class="ivy_last_msg_date">{{ noLastDate(contact.messages, contact) }}</p>
                            </li>
                        </ul>
                    </main>
                </section>           
            </Transition>
            <section id="chat">
                <header class="ivy_chat_header">
                    <nav class="ivy_navbar">
                        <div class="d-flex">
                            <div class="ivy_profile_box">
                                <img :src="contactList[activeContact].avatar" alt="User Profile Image" class="ivy_profile_img">
                            </div>
                            <div class="ivy_text_box">
                                <p>{{ contactList[activeContact].name }}</p>
                                <p>Last seen online at {{ noLastDate(contactList[activeContact].messages, contactList[activeContact]) }}</p>
                            </div>
                        </div>
                        <div class="ivy_command_box">
                            <i class="fa-solid fa-magnifying-glass" @click="triggerFind = !triggerFind"></i>
                            <div class="ivy_menu" @click="triggerMenuChat = !triggerMenuChat" :class="triggerMenuChat ? 'ivy_active_ell' : ''">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                <Transition name="slide-down">
                                    <ul v-if="triggerMenuChat" class="ivy_pop_up ivy_visibleDown">
                                        <li>Contact info</li>
                                        <li>Select Messages</li>
                                        <li>Close Chat</li>
                                        <li>Mute Notifications</li>
                                        <li>Disappering Messages</li>
                                        <li @click="deleteAllMessages()">Clear Messages</li>
                                        <li @click="deleteChat()">Delete Chat</li>
                                        <li @click="reportedPopUp = !reportedPopUp">Report</li>
                                        <li @click="blockedPopUp = !blockedPopUp">Block</li>
                                    </ul>
                                </Transition>
                            </div>
                        </div>
                    </nav>
                </header>
                <main class="ivy_chat_body">
                    <div class="ivy_msg_wrap" v-for="(message, index) in contactList[activeContact].messages" :class="message.status==='sent' ? 'ivy_sent' : 'ivy_received' ">
                        <div class="ivy_msg">
                            <p class="ivy_text_msg">{{ message.message }}</p> 
                            <p class="ivy_time_msg">
                                <Transition name="slide-down">
                                    <span v-if="message.starred"><i class="fa-solid fa-star pe-1"></i></span>
                                </Transition>
                                {{ message.date.substring(11,16) }}
                            </p>                     
                            <div class="ivy_msg_menu" @click="deleteMsgPopUp(message)" :class="message.triggered ? 'opacity_1' : ''">
                                <i class="fa-solid fa-chevron-down"></i>
                                <ul v-if="message.triggered" class="ivy_pop_up" :class="!msgPosition(index) ? 'ivy_visibleUp' : 'ivy_visibleDown'">
                                    <li>Message info</li>
                                    <li v-if="message.status == 'received'" @click="message.starred = !message.starred" v-text="message.starred ? 'Unstar' : 'Star'"></li>
                                    <li @click="removeMsg(index, contactList[activeContact].messages)">Delete Message</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </main>
                <nav class="ivy_navbar">
                    <div class="ivy_command_box">
                        <div class="ivy_menu">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="ivy_menu" @click="clipMenu = !clipMenu" :class="clipMenu ? 'ivy_active_ell' : ''">
                            <i class="fa-solid fa-paperclip"></i>
                            <Transition name="slide-up">
                                <ul v-if="clipMenu" class="ivy_clip_menu">
                                    <li id="send_poll" class="ivy_clip_item">
                                        <i class="fa-solid fa-chart-simple"></i>
                                        <p class="ivy_hover_pill">Poll</p>
                                    </li>
                                    <li id="send_contact" class="ivy_clip_item">
                                        <i class="fa-solid fa-user"></i>
                                        <p class="ivy_hover_pill">Contact</p>
                                    </li>
                                    <li id="send_document" class="ivy_clip_item">
                                        <i class="fa-solid fa-file"></i>
                                        <p class="ivy_hover_pill">Document</p>
                                    </li>
                                    <li id="send_camera" class="ivy_clip_item">
                                        <i class="fa-solid fa-camera"></i>
                                        <p class="ivy_hover_pill">Camera</p>
                                    </li>
                                    <li id="send_new_sticker" class="ivy_clip_item">
                                        <i class="fa-solid fa-note-sticky"></i>
                                        <p class="ivy_hover_pill">New Sticker</p>
                                    </li>
                                    <li id="send_photoVideo" class="ivy_clip_item">
                                        <i class="fa-solid fa-image"></i>
                                        <p class="ivy_hover_pill">Phots & Videos</p>
                                    </li>
                                </ul>
                            </Transition>
                        </div>
                    </div>
                    <input type="text" name="chat_bar" id="chat_bar" placeholder="Type a message" v-model="newMessage" @keyup.enter="enterNewMsg(newMessage)">
                    <div class="ivy_command_box">
                        <i v-if="newMessage == ''" class="fa-solid fa-microphone"></i>
                        <i v-else class="fa-solid fa-paper-plane" @click="enterNewMsg(newMessage)"></i>
                    </div>
                </nav>
            </section>
            <Transition name="slide-right">
                <div v-if="triggerFind" id="findMessage" class="ivy_left_section">
                    <header class="ivy_header">
                        <nav class="ivy_navbar">
                            <div class="ivy_command_box">
                                <i class="fa-solid fa-x" @click="triggerFind = !triggerFind"></i>
                                <p>Search Messages</p>
                            </div>
                        </nav>
                        <div class="ivy_searchbar_box">
                            <div class="ivy_search_icon">
                                <i v-if="msgSearch == ''" class="fa-solid fa-magnifying-glass"></i>
                                <i v-else class="fa-solid fa-arrow-left" @click="msgSearch = ''"></i>
                            </div>
                            <input type="text" name="find_msg_searchbar" id="find_msg_searchbar" placeholder="Search..." v-model="msgSearch" @keyUp="searchingMsg()">
                        </div>
                    </header>
                    <main class="ivy_find_main">
                        <ul id="foundMsgList" class="contacts_list" v-if="lookingForMsg">
                            <li class="ivy_found_msg" v-for="message in contactList[activeContact].messages" v-show="message.message.toLowerCase().includes(msgSearch.toLowerCase())">
                                <p class="ivy_last_msg_date">{{ message.date.substring(0,10) }}</p>
                                <p class="ivy_last_msg">
                                    <span>{{ message.status == 'sent' ? 'You' : contactList[activeContact].name }} : </span>
                                    <span>
                                        {{ message.message }}
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </main>
                </div>
            </Transition>
            <Transition name="opacity">
                <div v-if="blockedPopUp || reportedPopUp" class="ivy_pop_up_bg">
                        <div v-if="reportedPopUp" class="ivy_screen_pop_up">
                            <h1 class="ivy_pop_title">
                                Report this contact to Boolzap?
                            </h1>
                            <div class="ivy_pop_checkbox">
                                <input type="checkbox" name="blockContactCheck" id="blockContactCheck" v-model="blockCheckbox">
                                <label for="blockContactCheck">Block contact and clear chat</label>
                            </div>
                            <p class="ivy_pop_desc">The last 5 messages from this contact will be forwarded to Boolzap. If you block this contact and clear the chat, messages will only be removedfrom this device and your devices on the newer versions of Boolzap.</p>
                            <p class="ivy_pop_desc">This contact will not be notified.</p>
                            <div class="ivy_btn_box">
                                <button class="ivy_com_add inverted" @click="reportedPopUp = !reportedPopUp">Cancel</button>
                                <button class="ivy_com_add" @click="reportContact()">Report</button>
                            </div>
                        </div>
                        <div v-if="blockedPopUp" class="ivy_screen_pop_up" >
                            <h1 class="ivy_pop_title">
                                Block {{ contactList[activeContact].name }}?
                            </h1>
                            <div class="ivy_pop_checkbox">
                                <input type="checkbox" name="reportContactCheck" id="reportContactCheck">
                                <label for="reportContactCheck">Report Contact</label>
                            </div>
                            <p class="ivy_pop_desc">Blocked contacts sill no longer be able to call you or send you messages. This contact will not be modified.</p>
                            <div class="ivy_btn_box">
                                <button class="ivy_com_add inverted" @click="blockedPopUp = !blockedPopUp">Cancel</button>
                                <button class="ivy_com_add" @click="blockContact()">Block</button>
                            </div>
                        </div>
                </div>
            </Transition>
        </div>
        <script src="./js/script.js"></script>
    </body>
</html>